html, body{
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
}






@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400');
/* RESET STYLE */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0 auto;
    min-height: 100%;
    font-family: 'Titillium Web', Tahoma, sans-serif, monospace;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

/* MOBILE DISPLAY */
nav {
    z-index: 9988;
    position: sticky;
    top: 0;
    width: 100%;
}

.container0 {
    display: inline-block;
    height: 60px;
    width: 100%;
    background: blueviolet;
}

.inav {
    padding: 12px;
    height: 50px;
    width: 50px;
    margin: 5px;
    float: right;
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #d7b94c;
    border-radius: 25px;
}

.c1,
.c2,
.c3 {
    width: 26px;
    height: 2px;
    background: blueviolet;
    border-radius: 2px;
    transition: transform .3s ease-out, width .3s ease-in;
    transform: translateY(0) rotate(0);
    -webkit-transform: translateY(0) rotate(0);
    -webkit-transition: -webkit-transform .3s ease-out, width .3s ease-in;
}

.close-c1 {
    transform: translateY(10px) rotate(45deg);
    transition: transform .3s ease-out;
    -webkit-transform: translateY(10px) rotate(45deg);
    -webkit-transition: -webkit-transform .3s ease-out;
}

.close-c2 {
    width: 0;
    transition: width .3s ease-in;
    -webkit-transition: width .3s ease-in;
}

.close-c3 {
    transform: translateY(-10px) rotate(-45deg);
    transition: transform .3s ease-out;
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -webkit-transition: -webkit-transform .3s ease-out;
}

.nav {
    z-index: 2;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: blueviolet;
    display: none;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .1);
    position: relative;
    top: -4px;
}

.open {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation: 300ms show ease-out forwards;
    animation: 300ms show ease-out forwards;
}
ul a {
    text-align: center;
    display: inline-block;
    color: #aaa;
    padding: 13px;
    font-size: 18px;
    border-top: 1px #BDC3C7 solid;
    text-decoration:none;
}
ul a:hover {
    background-color: #DADFE1;
    color: #607D8B;
}
/* DESKTOP MODE */
@media (min-width: 500px) {
#nav {
        display: -ms-flexbox;
        /* TWEENER - IE 10 */
        display: -webkit-flex;
        /* NEW - Chrome */
        display: flex;
        flex-direction: row;
        justify-content: center;
        -webkit-flex-direction: row;
        top: 0;
    }
    .open {
        flex-direction: row;
        -webkit-flex-direction: row;
    }
    ul a {
        border-top: 0;
    }
    .container0 {
        display: none;
    }
}

/* ANIMATION */
@-webkit-keyframes show {
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes show {
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
h1{
  font-weight:100;
  text-align:center;
  margin-top:20px;
}



















.responsive {
  top: 10px;
  width: 100%;
  height: auto;
}


h1{
  text-align: center;
  padding: 20px 0;
}

.container{
  max-width: 1200px;
  margin: 30px auto;
  padding: 0;
}

div{
  margin: 0;
  padding: 0;
}

.c1{
  display: inline-block;
  padding: 0px 0;
  margin: 0px auto;
  width: 100%;
  text-align: center;
  background-color: rgb(255, 184, 126);
}

.c2{
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  padding: 120px 0;
  margin: 0px;
  background-color: #8fbbd9;
  
}

.c3{
  display: inline-block;
  float: left;
  width: 50%;
  text-align: center;
  padding: 120px 0;
  background-color: #7ed9a7;  
}

.c4{
  display: inline-block;
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 120px 0;
  background-color: rgb(230, 150, 134);  
}

.c5{
  display: inline-block;
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 120px 0;
  background-color: rgb(230, 203, 118);  
}

.c6{
  display: inline-block;
  float: left;
  width: 33.33%;
  text-align: center;
  padding: 120px 0;
  background-color: rgb(173, 170, 230);  
}




/* Collapse to full width column */

@media only screen and (max-width: 750px){
  .c4{
    width: 100%;
  }
  .c5{
    width: 100%;
  }
  .c6{
    width: 100%;
  }
}

@media only screen and (max-width: 660px){
  .c2{
    width: 100%;
  }
  .c3{
    width: 100%;
  }
}





/*image with text
*/

.About{
  background-color:black\;
  font-family: inherit;
  text-align: center;
  color: white;
}




/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/
.clip-text-video {
  position: relative;
}

video {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 900PX;
  object-fit: cover;
  overflow: hidden;
}

.clip-text-video__text {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: whitesmoke;
  overflow: hidden;
  background: blue;
  mix-blend-mode: multiply;
}

.clip-text-video__text p {
  font-size: 12vw;
  line-height: 1;
  font-weight: 900;
  font-family: helvetica;
}

.my{
  background-color: seashell;
  font-size: 40px;
}




:root {
  --main-color: #111;
  --loader-color: #4CAF50;
  --back-color: #A5D6A7;
  --time: 3s;
  --size: 3px;
}

.loader {
  background-color: var(--main-color);
  overflow: hidden;
  width: 100;
  height: 20px;

  top: 0; left: 0;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: flex-start;  
  z-index: 100000;
}

.loader__element {
  height: var(--size);
  width: 100%;
  background: var(--back-color);

}

.loader__element:before {
  content: '';
  display: block;
  background-color: var(--loader-color);
  height: var(--size);
  width: 0;
  animation: getWidth var(--time) ease-in infinite;
}

@keyframes getWidth {
  100% { width: 100%; }
}





